<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Page Not Found</h2>
    </div>
    <div class="mdl-card__supporting-text">
      The page you are looking for can't be found.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/">Back to home</a>
    </div>
  </div>
</div>