<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="50%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>About</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="article-image " src="https://assets.mankwok.io/misc/about.png" alt="">
      <mat-card-content>
        <p>Hi! My name is Kwok.</p>
        <p>This website is built with Angular and using firebase as backend.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>