<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{this.title}}</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" routerLink="/">Home</a>
          <a class="mdl-navigation__link" routerLink="/tools">Tools</a>
          <a class="mdl-navigation__link" routerLink="/about">About</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">{{this.title}}</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/" (click)="onNavClick()">Home</a>
        <a class="mdl-navigation__link" routerLink="/tools" (click)="onNavClick()">Tools</a>
        <a class="mdl-navigation__link" routerLink="/todo" (click)="onNavClick()">Todo</a>
        <a class="mdl-navigation__link" routerLink="/about" (click)="onNavClick()">About</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <p>
          <router-outlet></router-outlet>
        </p>
      </div>
    </main>
  </div>