<div #drawer mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row custom-header">
      <span class="mdl-layout-title ">{{this.title}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
        <a class="mdl-navigation__link" *ngIf="(authService.user | async)?.uid" routerLink="/tools" routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }">
          Tools
        </a>
        <a class="mdl-navigation__link" *ngIf="(authService.user | async)?.uid" routerLink="/todo" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
          Todo
        </a>
        <a class="mdl-navigation__link" routerLink="/about" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
          About
        </a>
        <a class="mdl-navigation__link" *ngIf="!(authService.user | async)?.uid" routerLink="/login" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
            Login
          </a>
        <a class="mdl-navigation__link" *ngIf="(authService.user | async)?.uid" (click)="authService.signOut()" href="">
          Logout
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{this.title}}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" (click)="onNavClick()">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
        Home
      </a>
      <a class="mdl-navigation__link" *ngIf="(authService.user | async)?.uid" routerLink="/tools" routerLinkActive="is-active" (click)="onNavClick()">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">build</i>
        Tools
      </a>
      <a class="mdl-navigation__link" *ngIf="(authService.user | async)?.uid" routerLink="/todo" routerLinkActive="is-active" (click)="onNavClick()">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">check_box</i>
        Todo
      </a>
      <a class="mdl-navigation__link" routerLink="/about" routerLinkActive="is-active" (click)="onNavClick()">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
        About
      </a>
      <a class="mdl-navigation__link" *ngIf="!(authService.user | async)?.uid" routerLink="/login" routerLinkActive="is-active" (click)="onNavClick()">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_box</i>
        Login
      </a>
      <a class="mdl-navigation__link" *ngIf="(authService.user | async)?.uid" (click)="authService.signOut()" href="">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">power_settings_new</i>
        Logout
      </a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>